<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>MLSListings Knowledge Base</h1>
    <p>Welcome to the the MLSListings Support Center Knowledge base. Choose a topic below to get started!</p>
    <a type="button" class="btn btn-lg btn-default" href="https://nicolequickforce.herokuapp.com/"><span class="glyphicon glyphicon-flash"></span> Help with Listings</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://nicolequickforce.herokuapp.com/"><span class="glyphicon glyphicon-flash"></span> Billing and My Account</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    If you can't find what you're looking for here, go ahead and head over to our  <a href="https://www.mlslistings.com/about-us/contact-us/" class="alert-link">Contact Us</a> form.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> New Updates to Pro Page!</h3>
      <ul>
        <li>This could be a place to put important info <a href="https://mlslknowledgebase.herokuapp.com/">Here</a> to help direct members away from picking up the phone.</li>

        <li>Same here <a href="https://mlslknowledgebase.herokuapp.com/">Listings</a>, creating a market analysis.</li>
        <li>The platform then spins up a dyno, a lightweight container that provides an isolated environment in which to add your listings.</li>
        <li>You can scale your productivity, get in touch with our training team <a href="https://mlslknowledgebase.herokuapp.com/">Professional Development Services</a>, to up your training game.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> This Section is Totally Customizable</h3>
      <ul>
        <li>You can put whatever you want <a href="https://mlslknowledgebase.herokuapp.com/">Here!</li>
        <li>If you want help, you can go to pro.mlslistings.com and click support</li>
        <ul>
          <li><MLSlistings is a great organization. .</li>
          <li> MLSListings is where real estate property listings originate, as the authorized trading platform for real estate professionals. Our customers are REALTORS®, brokers and agents throughout northern California. </li>
          <li><code>We specialize in the counties of Monterey, San Benito, San Mateo, Santa Clara and Santa Cruz. Approximately 16,000 real estate professionals in over 6,000 firms representing 28,000 square miles conduct business utilizing our MLS platform. </li>
          <li>Because their listings originate with us, our real estate data is the most up-to-date, refreshes every five minutes, and is the most accurate information available to buyers, sellers and those seeking real estate information./li>
        </ul>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://mlslknowledgebase.herokuapp.com/">Join Now</a></li>
        <li><a href="https://www.mlslistings.com/about-us/contact-us/">Customer Support</a></li>
        <li><a href="https://mlslknowledgebase.herokuapp.com/">Getting Started With Your Listings</a></li>
        <li><a href="https://mlslknowledgebase.herokuapp.com/">Billing Page</a></li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Please do work through the knowledge base before raising a case. if you problem still can't be solved feel free to call our support line or fill out our online Contact Us form.
  </div>
</div>

</body>
</html>
