<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">


<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>MLSListings Knowledge Base</h1>
    <p>Search or choose a topic below to get started.</p>
    
    
<div class="wrap">
   <div class="search">
      <input type="text" class="searchTerm" placeholder="What are you looking for?">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
   </div>
</div>
    <p></p>
    
    <a type="button" class="btn btn-lg btn-primary" href="https://nicolequickforce.herokuapp.com/"><span class="glyphicon glyphicon-flash"></span> Search Listings</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://nicolequickforce.herokuapp.com/"><span class="glyphicon glyphicon-flash"></span> Listing Management</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://nicolequickforce.herokuapp.com/"><span class="glyphicon glyphicon-flash"></span> Compliance</a>
    <p><a type="button" class="btn btn-lg btn-primary" href="https://nicolequickforce.herokuapp.com/"><span class="glyphicon glyphicon-flash"></span> Board and Association</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://nicolequickforce.herokuapp.com/"><span class="glyphicon glyphicon-flash"></span> Paragon CA Edition</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://nicolequickforce.herokuapp.com/"><span class="glyphicon glyphicon-flash"></span> Billing and My Account</a></p>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    If you can't find what you're looking for here, go ahead and head over to our  <a href="https://www.mlslistings.com/about-us/contact-us/" class="alert-link">Contact Us</a> form.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span>Top 10 Knowledge Base Articles</h3>
      <ul>
        <li>1. How do I search <a href="https://mlslknowledgebase.herokuapp.com/">listings</a> using the Listing Managment tool?</li>
        <li>2. Where can I check <a href="https://mlslknowledgebase.herokuapp.com/">Billing</a> history?</li>
        <li>3. How do I reset my username/password?</li>
        <li>4. You can scale your productivity, get in touch with our training team <a href="https://mlslknowledgebase.herokuapp.com/">Professional Development Services</a>, to up your training game.</li>
        <li>5. How do I search <a href="https://mlslknowledgebase.herokuapp.com/">listings</a> using the Listing Managment tool?</li>
        <li>6. Where can I check <a href="https://mlslknowledgebase.herokuapp.com/">Billing</a> history?</li>
        <li>7. How do I reset my username/password?</li>
        <li>8. You can scale your productivity, get in touch with our training team <a href="https://mlslknowledgebase.herokuapp.com/">Professional Development Services</a>, to up your training game.</li>     
        <li>9. How do I reset my username/password?</li>
        <li>10. You can scale your productivity, get in touch with our training team <a href="https://mlslknowledgebase.herokuapp.com/">Professional Development Services</a>, to up your training game.</li>
      </ul>
    </div>
   
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://mlslknowledgebase.herokuapp.com/">Join Now</a></li>
        <li><a href="https://www.mlslistings.com/about-us/contact-us/">Customer Support</a></li>
        <li><a href="https://mlslknowledgebase.herokuapp.com/">Billing Page</a></li>
      </ul>
     
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Please do work through the knowledge base before raising a case. if you problem still can't be solved feel free to call our support line or fill out our online Contact Us form.
  </div>
</div>

</body>
</html>
